@keyframes rotate {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg); }
}

* {
  font-size: 16px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  max-width: 600px;
  padding: .5rem;
}

h1 {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 1rem;
}

hr {
  margin: .5rem 0;
}

label {
  font-size: 1rem;
  line-height: 1;
}

.label {
  flex: none;
  width: 25%;
}

input,
button {
  margin: .5rem 0;
  padding: .5rem 1rem;
  border-width: 1px;
  border-radius: .25rem;
}

input[type="range"] {
  padding: .5rem 0;
}

button[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem .25rem;
}

button.loading::before {
  content: '';
  display: inline-block;
  width: .5rem;
  height: .5rem;
  margin-right: .5rem;
  border: 1px solid #000000;
  border-bottom-width: 0;
  border-radius: 50rem;
  animation: rotate linear 1s infinite;
}

.controls {
  padding: .5rem 0 0;
}

.image-controls {
  padding: 0 0 0 1rem;
}

.image-preview {
  position: relative;
  z-index: 10;
}

img.preview {
  pointer-events: none;
  width: 100%;
  z-index: 0;
  user-select: none;
  -drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

.position-select {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #333333;
  box-sizing: border-box;
  box-shadow: inset 0 0 0px 1px #FFFFFF;
  cursor: grab;
  z-index: 20;
}

.position-select:active {
  cursor: grabbing;
}

.position-select.vertical {
  width: var(--position-width);
  height: calc(var(--position-width) * var(--screen-aspect-ratio));
}

.position-select.horizontal {
  width: calc(var(--position-height) / var(--screen-aspect-ratio));
  height: var(--position-height)
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.mr-2 {
  margin-right: 1rem;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.justify-between {
  justify-content: space-between;
}
