<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=devices-width, initial-scale=1.0">
  <title>Top Layer Panel</title>
  <link rel="stylesheet" href="/static/css/panel.css">
  <script src="/static/js/panel.js" async defer></script>
</head>
<body>
  <div class="container">
    <div class="form">
      <h1>Top layer panel</h1>
      <form id="form">
        <input type="file" name="file" id="file"><br>
        <div class="flex items-center">
          <label class="label" for="opacity">
            Opacity:
            <span data-value>0.5</span>
          </label>
          <input type="range" name="opacity" min="0" max="1" step="0.05" value="0.5" id="opacity">
        </div>
        <button class="w-full" type="submit">Submit</button>
      </form>
      <hr>
      <div class="video-player hidden">
        <div class="flex justify-between">
          <button class="hidden" data-toggle="video" data-request="video-play">Play Video</button>
          <button data-toggle="video" data-request="video-pause">Pause Video</button>
        </div>
      </div>
      <button type="button" class="w-full" data-toggle="window" data-request="hide">Hide window</button>
      <button type="button" class="hidden w-full" data-toggle="window" data-request="show">Show window</button>
      <button type="button" class="w-full" data-request="quit">Quit</button>
    </div>
  </div>
</body>
</html>