<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=devices-width, initial-scale=1.0">
  <title>Top Layer Panel</title>
  <link rel="stylesheet" href="/static/css/panel.css">
  <script src="/static/js/panel.js" async defer></script>
</head>
<body>
  <div class="container">
    <div class="form">
      <h1>Top layer panel</h1>
      <form id="form">
        <input type="file" name="file" id="file"><br>
        <input type="text" name="text" id="text" placeholder="Inserisci il testo"><br>
        <button type="submit">Submit</button>
      </form>
      <button type="button" class="request" data-target="/close">Close window</button>
      <button type="button" class="request" data-target="/open">Open window</button>
      <button type="button" class="request" data-target="/quit">Quit</button>
    </div>
  </div>
</body>
</html>